h1 {
    color: white;
    font-size: 2em;
    text-align: center;
    padding-top: 1em;
}

h2 {
    color: white;
    font-size: 0.5em;
    text-align: center;
    font-family:'Roboto';
}

h4 {
    padding-bottom: 0.7em;
    font-family: 'Roboto';
    text-align: center;
    font-size: 1.2em;
}

h5 {
    text-align: center;
    font-family: 'Roboto';
}

h6 {
    text-align: center;
    padding: 1em;
    color: white;
}

p {
    font-size: 1em;
    font-family: 'Roboto';
}

.container-search {

    background-color: #FDFDFD;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 12%;
    margin-right: 12%;
    border-radius: 1em;
    padding: 3em;
    font-family: 'Roboto';
    overflow: auto;
}

.btn.btn-secondary.dropdown-toggle {
    color: grey;
    border-radius: .5em;
    background-color: white;
    text-align: justify;
    font-size: .8em;
    margin-right: 0.3em;
    margin-left: 0.3em;

}

/* Submit Button Index Page */
.btn.btn-primary {
    font-family: 'Roboto';
    background-color: #B2B5E0;
    border-radius: 0.5em;
    padding-right: 2em;
    padding-left: 2em;
    margin-top: 1.5em;
    text-align:center;
    font-size: 1.2em;
    border-color: #B2B5E0;
}

.btn.btn-primary:focus {
    background-color: white;
    border-color: #B2B5E0;
    border-width: thin;
    color: #B2B5E0;
}

.btn.btn-primary:hover {
    background-color: white;
    border-color: #B2B5E0;
    border-width: thin;
    color: #B2B5E0;
}

.btn.btn-primary:active {
    background-color: #B2B5E0;
    color: white;
}

/* Dropdown menu background color*/
.dropdown-menu {
    border-radius: 1em;
    color: red;
}

/* Dropdown menu background color*/
.dropdown-menu > a {
    color: black;
    font-size: 1.2em;
    font-family: 'Roboto';
    border-radius: 0.5em;
}

.dropdown-menu > a:active {
    color: white;
    font-size: 1.2em;
    font-family: 'Roboto';
    background-color: #565D63;

}

/* Clicking into the text area to type */
textarea:focus, textarea:hover, textarea:active {
    border-color: black;
}

.form-group {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0.5em;
}

card {
   width: 18rem;
   border-radius: 1em;
}